<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/virtual-select.min.css">
<link rel="stylesheet" type="text/css" href="cssz/main.css">
<link href="css/charge.css" rel="stylesheet">
</head>
<body>



<div class="card card-4" style="margin: 4rem 4rem 4rem 4rem;">
    <div class="card-body">
        <h2 class="title">Violation Form</h2>
        <form method="post" th:action="@{/charges/add}">
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label">Plate</label>
                        <input class="input--style-4" type="text" name="plateNo" th:value="${plateNo} ?: ''" th:if="${plateNo} ne null" readonly>
                        <input class="input--style-4" type="text" name="plateNo" th:value="${plateNo} ?: ''" th:unless="${plateNo} ne null">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label">Violation Code</label>
                          <select id="multi_option" multiple name="v_code" placeholder="Violation Options" data-silent-initial-value-set="false">
                          	
                            <option th:each="violationCode : ${violationCodes}"
                            	th:text="${violationCode.description}"
                            	th:name="${violationCode.id}"
                            	th:value="${violationCode.id}">
                            	Default
                            </option>
                            
                          </select>
                    </div>
                </div>
            </div>
            
            
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                <a th:href="@{/home}" class="btn btn--radius-2 btn-primary" id="btnz">Back</a>
            </div>
        </form>
    </div>
</div>


<script src="js/charge.js"></script>

<script type="text/javascript" src="js/virtual-select.min.js"></script>
<script type="text/javascript">
    VirtualSelect.init({ 
      ele: '#multi_option' 
    });
</script>
<script type="text/javascript">
            document.getElementById("btnz").onclick = function () {
                location.href = "index.html";
            };
        </script>
</body>
</html>
